.detail {
    height: 700px;
}

.item-detail_page {
    display: flex;
    height: 700px;
}

.item-image {
    width: 50%;
    margin-top: 50px;
    text-align: center;
}

.image {
    background-color: gainsboro;
    width: 350px;
    height: 400px;

}

.item-detail {
    width: 30%;
    margin-top: 50px;
}

.item-name {
    font-size: 30px;
    font-weight: bolder;
}

.item-brand-name {
    font-size: 12px;
}

.item-price {
    margin-top: 10px;
}

.button {
    display: flex;
    height: 45px;
}
.like-button {
    width: 45px;
    padding-top: 10px;
    margin-right: 10px;
}

.comment-page {
    width: 45px;
    padding-top: 10px;
}

.user_information {
    display: flex;
}

.user_image {
    border-radius: 100px;
}

.user_name {
    padding-top: 15px;
    font-size: 12px;
}
.comments {
    display: flex;
}

.comment-list {
    background-color: gainsboro;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 200px;
    font-size: 15px;
    padding: 5px;
}

.comment_delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 12px;
    padding-top: 5px;
    margin-left: 10px;
    text-decoration: none;
}
.comment {
    width: 100%;
}

.comment_button {
    height: 40px;
}

.comment_button_submit {
    width: 100%;
    height: 40px;
    background-color: #FF5555;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 3px;
}

.error {
    color: red;
}